// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.store {
  max-width: 80rem;
  ul.catalog {
    border-top: solid 0.25rem;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 1rem;
      margin: 0;
      border-bottom: solid thin #ddd;

      // This makes sure our <li> has enough height
      // to hold the entire image since it's floated
      &::after {
        clear: both;
        content: "";
        display: block;
      }

      img {
        float: left;
        padding: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0.176rem 0.176rem 0.354rem 0px rgba(0, 0, 0, 0.75);
      }

      .price {
        font-size: 1.414rem;
      }

      form, div {
        display: inline;
      }

      input[type="submit"] {
        background-color: #282;
        border-radius: 0.354rem;
        border: solid thin #141;
        color: white;
        font-size: 1rem;
        padding: 0.354rem 1rem;
      }

      input[type="submit"]:hover {
        background-color: #141;
        cursor: pointer;
      }
    }
  }
}
